<form  ng-submit="addStudent()">
  <fieldset>
    <legend>
      <h4>Add Student</h4>
    </legend>
  </fieldset>
  <div class="row">
    <div class="six columns">
      <label for="firstName">First Name</label>
      <input class="u-full-width" type="text" placeholder="Harry" id="firstName" required ng-model="student.firstName" autofocus>
    </div>
    <div class="six columns">
      <label for="lastName">Last Name</label>
      <input class="u-full-width" type="text" placeholder="Potter" id="lastName" required ng-model="student.lastName">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="year">Year</label>
      <input class="u-full-width" type="number" min='1' max='7' placeholder="first year" id="year" required ng-model="student.year">
    </div>
  </div>
    <div class="u-full-width">
      <button type="submit" class="button-primary">Add Student</button>
    </div>
</form>
<hr>
<all-students students="allStudents"></all-students>
