body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav {
  width: 100%;
  margin-bottom: 8rem;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li, .nav ul li a {
  margin: auto;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: rgb(16, 108, 42);
  font-weight: bolder;
}

input.delete {
  background-color: rgb(129, 15, 15);
  color: white;
}

input.edit {
  background-color: rgba(232, 198, 19, .7)
}

button.button-primary {
  background-color: rgb(16, 108, 42);
}

.buttons {
  margin-top: 2rem;
}



  /*all-students {
    display: flex;
    width: 100%;
  }
GRID
  all-students > section {
    width: 30%;
    margin: auto;
  }*/
