body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input.delete {
  background-color: rgb(230, 14, 71);
  color: white;
}

input.edit {
  background-color: rgba(232, 198, 19, .7)
}

button.button-primary {
  background-color: rgb(16, 108, 42);
}
